aclocal.m4
autom4te.cache
autoregen.sh
config.*
configure
libtool
INSTALL
Makefile.in
depcomp
install-sh
ltmain.sh
missing
stamp-*
*~
src/Makefile
src/.libs
src/.deps
src/.bin
compile
Makefile
*.o
nbproject/private